### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### PhpStorm ###
.idea/

### Docker ###
.docker/nginx/log
.docker/php/log
.docker/redis
.docker/database/dumps
.docker/database/data
!.docker/database/dumps/.gitkeep
!.docker/database/data/.gitkeep